/__pycache__
/dataset/DATA
/dataset/datasets/__pycache__
/dataset/mvisa/data/Br35H
/dataset/mvisa/data/BrainMRI
/dataset/mvisa/data/BTAD
/dataset/mvisa/data/ClinicDB
/dataset/mvisa/data/ColonDB
/dataset/mvisa/data/DAGM
/dataset/mvisa/data/DTD
/dataset/mvisa/data/Endo
/dataset/mvisa/data/HeadCT
/dataset/mvisa/data/ISIC
/dataset/mvisa/data/KSDD2
/dataset/mvisa/data/Kvasir
/dataset/mvisa/data/mvtec
/dataset/mvisa/data/RSDD
/dataset/mvisa/data/smartshaped
/dataset/mvisa/data/smartshaped_back
/dataset/mvisa/data/visa
/dataset/mvtec
/dataset/visa
/my_exps
/open_clip_local/__pycache__
/pretrained_weight
/results
*.out
/models/__pycache__
